
# VS Code: keep shared project settings, ignore personal configs
.vscode/*
!.vscode/settings.json

# Foundry build artifacts
cache/
out/
broadcast/
.envrc
.wallet.json
.nrepl-port
.calva/
.cache/
.cpcache/
wallet-account.json 
5-wallet-fullstack/3-wallet-cli/viem-cli/signed.json
5-wallet-fullstack/3-wallet-cli/viem-cli/prepared.json
.vite/
10-solana/4-solana-client/.anchor/program-logs/AxEx7K72AZiwkxgwxw3KkEtjAc6ezdPxcYK3zFJd3Qgu.counter_app.log
