[submodule "3-openzepplin-token/nft-market/lib/openzeppelin-contracts"]
	path = 3-openzepplin-token/nft-market/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "4-foundry/3-nft-market/lib/openzeppelin-contracts"]
	path = 4-foundry/3-nft-market/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "5-wallet-fullstack/2-nft-market-backend-event/lib/openzeppelin-contracts"]
	path = 5-wallet-fullstack/2-nft-market-backend-event/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "7-defi/uniswap-v3-deploy/v3-core"]
	path = 7-defi/uniswap-v3-deploy/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "7-defi/uniswap-v3-deploy/v3-periphery"]
	path = 7-defi/uniswap-v3-deploy/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "7-defi/vesting-foundry/lib/forge-std"]
	path = 7-defi/vesting-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7-defi/vesting-foundry/lib/openzeppelin-contracts"]
	path = 7-defi/vesting-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "7-defi/0-eip-1167-mem/lib/forge-std"]
	path = 7-defi/0-eip-1167-mem/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7-defi/0-eip-1167-mem/lib/openzeppelin-contracts"]
	path = 7-defi/0-eip-1167-mem/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "7-defi/3-launchpad/lib/forge-std"]
	path = 7-defi/3-launchpad/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7-defi/3-launchpad/lib/openzeppelin-contracts"]
	path = 7-defi/3-launchpad/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "7-defi/4-uniswap-v2-twap/lib/v2-core"]
	path = 7-defi/4-uniswap-v2-twap/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "7-defi/4-uniswap-v2-twap/lib/v2-periphery"]
	path = 7-defi/4-uniswap-v2-twap/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "7-defi/4-uniswap-v2-twap/lib/uniswap-lib"]
	path = 7-defi/4-uniswap-v2-twap/lib/uniswap-lib
	url = https://github.com/Uniswap/uniswap-lib
[submodule "7-defi/5-flash-swap/lib/forge-std"]
	path = 7-defi/5-flash-swap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
