
# VS Code: keep shared project settings, ignore personal configs
.vscode/*
!.vscode/settings.json

# Foundry build artifacts
cache/
out/
broadcast/
.envrc
.wallet.json
.nrepl-port
.calva/
.cache/
.cpcache/
wallet-account.json 