[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.26"
evm_version = "cancun"
fs_permissions = [
  { access = "read", path = "./" }
]

[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"
